<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E40ABA92A1C60F1009AD3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E40ABBE2A1C60F3009AD3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E40ABC82A1C60F3009AD3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
